.tor-browser-en
.adobe
.audacity-data
backup_files
.bash_history
.cache
.config
.dbus
Desktop
downloads
.dropbox
Dropbox
.dropbox-dist
.eclim
.fehbg
.gimp-2.8
.git
.gitconfig
.gnupg
.gnuplot_history
gpg-agent.conf
.ipython
.java
.jupyter
.local
.lyrics
.macromedia
.Mathematica
.mediathek3
.mozilla
.muttator
.octave_hist
opengpg-revocs.d
.pgpass
.pki
private-keys-v1.d
pubring.kbx~
pyecloud
.python_history
S.gpg-agent
.Skype
.ssh
.surf
.taskrc
.thumbnails
.thunderbird
.tooling
trustb.gpg
.vim
.viminfo
.when
.wine
.wine2
.Xauthority
